language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: true

before_install:
 - sudo apt-get install -qq graphviz

services:
  - postgresql

before_script:
    - psql -c "CREATE USER openerp WITH PASSWORD 'admin';" -U postgres
    - psql -c 'create database rsocb with owner openerp;' -U postgres
    - ./server/openerp-server --db_user=postgres --db_user=openerp --db_password=admin --db_host=localhost --stop-after-init --addons-path=openerp-addons-ci,web/addons -i base -d rsocb

install:
    - ./.travis_install_nightly.sh

script:
    - ./.travis_test_script.sh

notifications:
  email:
    - raphael.valyi@akretion.com
    - renato.lima@akretion.com.br

branches:
  only:
    - rs-ocb-7.0
